/* Authors: Jessica, Sam, Jimmy */

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
}

header {
  background-color: #5b187e;
  color: white;
  font-size: 30px;
  padding: 15px 55px;
  border-bottom: 2px solid white;
}

nav {
  font-size: 14px;
  background-color: #555;
}

nav ul {
  margin: 0px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

nav ul li:hover {
  background-color: #999;
}

section {
  margin-left: 55px;
}

.maincontent {
  padding: 10px;
}

h1 {
  margin: 5px;
  margin-left: 0px;
  font-size: 24pt;
}

aside {
  float: left;
  width: 150px;
  margin: 5px;
}

aside h2 {
  margin-top: 0px;
}

fieldset {
  border: 0px;
  margin: 0px;
  padding: 5px 0px;
}

label {
  display: block;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:first-child {
  border-top: 0px;
  border-bottom:2px;
}

tr {
  border-top: 1px solid #ddd;
}

td, th {
  padding: 10px 10px;
}

#print-summary-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.info {
  float: left;
  width: 400px;
  margin: 0px;
  padding: 10px;
}


#gallery {
  padding: 10px;
}

.galleryitems {
  float: left;
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  background-color: white;
  border: solid 1px #ccc;
}